.table-button-cart {
    /* width: 90%; */
    margin: auto;
}

.cart-container .img-thumbnail {
    height: 90px;
    width: 80px;
    object-fit: contain;
}
.cart-container .table {
    width: 100%;
    margin: auto;
    border: 1px solid rgb(184, 184, 184);
    padding: 15px;
    min-width: 1000px;
}
.cart-container .thead-light th {
    background: white;
}

.cart-container .cart-heading {
    background: #8aaae5;
    margin-bottom: 50px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-container .cart-title {
    font-weight: regular;
    margin: 20px;
}

.cart-container thead th {
    /* border: none; */
}
.cart-container table td,
.cart-container table th {
    border: none;
    vertical-align: middle;
}

.cart-container .table tbody + tbody {
    border-top: 1px solid #dee2e6;
}

.cart-container .text-uppercase {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;
}

.cart-container .btn-Checkout {
    color: white;
    background: #8aaae5;
    margin-top: 40px;
}

.cart-container .fa-trash-alt {
    color: red;
}

.cart-container .empty-div {
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(175, 175, 175);
}

.cart-container .empty-div button {
    margin-top: 10px;
}

.cart-container .proceed-checkout-div {
    display: flex;
    justify-content: flex-end;
}

.cart-container .cart-btn {
    padding: 5px 10px;
    background-color: #92C3D6;
    color: white;
    border: none;
    margin: 5px;
}

