@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* outline: 1px solid black; */
}

:root {
    --mainColor: #fdc00f;
    --textColor: rgb(39, 39, 39);
}

body {
    width: 100%;
    overflow-x: hidden;
}

ul,
li,
button,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: rgb(39, 39, 39);
}

ul{
	list-style: none;
}

.main{
    width: 90%;
    margin: 40px auto;
}

.above-div{
    width: 100%;
    height: 120px;
    background-color: #92C3D6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.above-div h2{
    color: rgb(250, 250, 250);
    font-size: 24px;
}

.empty-div {
    margin-top: 20px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(175, 175, 175);
}

.empty-div button {
    margin-top: 10px;
    color: white;
    background: #8aaae5;
}