header {
    width: 100%;
    padding: 10px 0;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
    box-shadow:
        0 9.4px 5.1px -20px rgba(0, 0, 0, 0.045),
        0 20.7px 17px -20px rgba(0, 0, 0, 0.052),
        0 57px 76px -20px rgba(0, 0, 0, 0.07);
}

header .inner-header {
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .inner-header a {
    text-decoration: none;
}

header .inner-header a .logo {
    display: flex;
    align-items: center;
    flex: 1;
}

header .inner-header a .logo img {
    height: 60px;
}

header .inner-header a .logo h2 {
    margin-left: 10px;
    color: var(--textColor)
}

header .inner-header a .logo h2 span {
    font-weight: lighter;
}

header .inner-header nav {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .inner-header nav .fa-bars {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 4rem;
    font-size: 20px;
}

header .inner-header nav ul {
    display: flex;
    list-style: none;
    position: relative;
    align-items: center;
    /* display: inline-block; */
}

header .inner-header nav ul li {
    margin-left: 50px;
}

header .inner-header nav ul li a.nav-item-link {
    text-decoration: none;
    padding: 22px 0;
    font-size: 16px;
    color: var(--textColor);
}

header .inner-header nav ul li a:hover {
    color: #68aba7;
}

header .inner-header nav ul li button{
    background-color: #92C3D6;
    color: white;
    padding: 8px 35px;
    border: none;
    cursor: pointer;
    /* border-radius: 8px; */
    font-size: 16px;
}

/* header .inner-header nav ul li a.active {
    border-bottom: 2px solid var(--mainColor);
} */

@media (max-width: 1200px) {
    header .inner-header nav .fa-bars {
        display: flex;
    }

    header .inner-header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .inner-header nav {
        width: 100%;
    }

    header .inner-header nav ul {
        width: 100%;
        flex-direction: column;
        display: none;
    }

    header .inner-header nav ul li {
        text-align: center;
        padding: 10px 0;
    }

    header .inner-header nav ul li a.nav-item-link {
        padding: 0;
    }

    header .inner-header nav ul.toggle {
        display: flex;
    }

}
