.wishlist-container .img-thumbnail {
    height: 90px;
    width: 80px;
    object-fit: contain;
}
.wishlist-container .table {
    width: 100%;
    margin: auto;
    border: 1px solid rgb(184, 184, 184);
    padding: 15px;
    min-width: 1000px;
}
.wishlist-container .thead-light th {
    background: white;
}

.wishlist-container .empty-div button:hover{
    background-color: #59a896;
    box-shadow: 1px 1px 1px #6bac9d;
}

.wishlist-container .cart-heading {
    background: #8aaae5;
    margin-bottom: 50px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishlist-container .cart-title {
    font-weight: regular;
    margin: 20px;
}

.wishlist-container i{
    cursor: pointer;
}
.wishlist-container table td,
.wishlist-container table th {
    border: none;
    vertical-align: middle;
}

.wishlist-container .table tbody + tbody {
    border-top: 1px solid #dee2e6;
}

.wishlist-container .text-uppercase {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;
}

.wishlist-container .btn-Checkout {
    color: white;
    background: #8aaae5;
    margin-top: 40px;
}

.wishlist-container .fa-trash-alt {
    color: red;
}
