.about-container .aboutUs {
    background: #8aaae5;
    height: 110px;
    margin-bottom: 40px;
}

.about-container .aboutUs-title {
    font-weight: lighter;
    font-style: poppins;
    margin: 40px;
}

.about-container headings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    background: #8aaae5;
}

.about-container headings h2 {
    color: white;
}

.about-container .img-fluid {
    width: 100;
}

.about-container .img-thumbnail {
    border: whitesmoke;
    margin: 10px;
    height: 70px;
}

.about-container .description-Section {
    margin: 10px;
}

.about-container .media {
    margin: 40px;
}

.about-container .mx-4 {
    margin-top: 30px;
}
.about-container .rent h3 {
    color: #6aab9c;
    margin-top: 30px;
}

/*@media (max-width:1000px) {
     .img-fluid {
       display: none;
       
     }
   }*/
