.change-password-container .change-password-background {
    background: #8aaae5;
    margin-bottom: 50px;
}
.change-password-container .change-password-title {
    font-weight: lighter;
    font-style: poppins;
    margin: 20px;
}
.change-password-container .password-btn {
    background: #8aaae5;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}